@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h2>Engineers</h2>

@if (@Model.Count == 0)
{
  <p>No engineers have been added.</p>
}
else 
{
  <ul>
    @foreach (Engineer engineer in @Model)
    {
      <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
    }
  </ul>
}

<button class="btn btn-dark">@Html.ActionLink("Add New Engineer", "Create")</button>
