@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class="splash">
  <h1>Dr. Snuess' Factory</h1>

  <div class="row">
    <div class="col col-sm-6">
      <ul><h2>Engineers</h2>
        @foreach (Engineer engineer in ViewBag.Engineers)
        {
          <li>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId })</li>
        }
      </ul>
    </div>

    <div class="col col-sm-6">
      <ul><h2>Machines</h2>
        @foreach (Machine machine in ViewBag.Machines)
        {
          <li>@Html.ActionLink($"{machine.Model}", "Details", "Machines", new { id = machine.MachineId })</li>
        }
      </ul>
    </div>
  </div>

</div>
